<%= render 'recipes/errors' %>
<div class="panel panel-info">    
    <div class="panel panel-heading">
      <h1 class="text-center">Edit Recipe</h1>
    </div>
    <div class="row">
        <div class="panel-bodying">
            <%= render :partial => 'form' %>
        </div>
    </div>
</div>
<%= link_to "< Back to Recipe",
              recipe_path(@recipe), :class => 'btn btn-default' %>
<br /><br /><br />