<%#= image_tag("12.jpg", :class => "img-responsive", :id => "cover") %>
<div class="pull-right">
    <%= link_to "SIGN UP NOW!", new_chef_registration_path, class: "btn btn-info", :id => "signup" %>
</div>